
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    @{
        RenderBody();
    }
    <h1>This is Admin Layout</h1>
</head>
<body>
</body>
</html>
